# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/.yarn
/.pnp
.pnp.*
/.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# testing / coverage
/coverage

# Next.js build output
/.next
/out
next-env.d.ts

# CRA legacy build output (kept for safety)
/build

# Vercel
/.vercel

# misc
.DS_Store
Thumbs.db
.eslintcache
*.tsbuildinfo

/.idea
/.vscode

# generated stylesheets
/src/styles/tailwind.css

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment files
.env
.env.local
.env.dev
.env.prod
.env.development.local
.env.test.local
.env.production.local

# Local Netlify folder
.netlify
